/*
* Made By MaterializeCSS.com
*/

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}

nav .nav-wrapper {
    height: 100%;
    position: relative;
}

nav.top-nav {
    box-shadow: none;
    height: 122px;
}
nav .brand-logo {
    padding: 10px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
}